# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/.idea.project-template-mobile.iml
/contentModel.xml
/projectSettingsUpdater.xml
/modules.xml
# Datasource local storage ignored files
/../../../../../../../../:\Git\GitLab\Project Template\project-template-mobile\.idea\.idea.project-template-mobile\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
